@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
html {
  scroll-behavior: smooth !important;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 26px;
  color: #1e304d;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  font-size: 15px;
}

label {
  font-weight: 500;
}

.section-sm {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
}

.section {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
}

.section-lg {
  padding-bottom: 110px;
  padding-top: 110px;
  position: relative;
}

.bg-lightan {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(30%, rgba(18, 168, 148, 0.1)),
    to(#ffffff)
  );
  background: linear-gradient(
    to top,
    rgba(18, 168, 148, 0.1) 30%,
    #ffffff 100%
  );
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.bg-overlay {
  background-color: rgba(36, 42, 53, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.color-overlay {
  background-color: #002d3a;
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.overlay-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#002d3a),
    to(#fec802)
  );
  background: linear-gradient(to right, #002d3a, #fec802);
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-box .heading-desc {
  max-width: 700px;
  margin: 0 auto;
}

.btn-round {
  border-radius: 30px;
}

.row > * {
  position: relative;
}

hr {
  border: 1px solid #e2e2e2;
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.f-17 {
  font-size: 17px;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 19px;
}

.f-20 {
  font-size: 20px;
}

.line-height_1_4 {
  line-height: 1.4;
}

.line-height_1_6 {
  line-height: 1.6;
}

.line-height_1_8 {
  line-height: 1.8;
}

.fw-normal {
  font-weight: 300 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.hover-effect {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
}

.btn {
  padding: 0.7rem 1.6rem;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-sm {
  padding: 0.6rem 1.3rem;
  font-size: 13px;
}

.shadow {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) !important;
}

.bg-primary {
  background-color: #fec802 !important;
}

.bg-soft-primary {
  background-color: rgba(18, 168, 148, 0.1) !important;
}

.text-primary {
  color: #fec802 !important;
}

.border-primary {
  color: #fec802 !important;
}

.btn-soft-primary {
  background-color: rgba(18, 168, 148, 0.25) !important;
  color: #fec802 !important;
}

.btn-soft-primary:hover,
.btn-soft-primary:focus,
.btn-soft-primary:active,
.btn-soft-primary.active,
.btn-soft-primary.focus,
.btn-soft-primary:not(:disabled):not(.disabled):active,
.btn-soft-primary:not(:disabled):not(.disabled):active:focus,
.btn-soft-primary .open > .dropdown-toggle.btn-primary {
  background: #109684;
}

.btn-primary {
  background: #fec802;
  border-color: #fec802 !important;
  color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .open > .dropdown-toggle.btn-primary {
  background: #109684;
  border-color: #109684;
}

.btn-outline-primary {
  color: #fec802;
  border-color: #fec802;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary .open > .dropdown-toggle.btn-primary {
  background: #fec802;
  border-color: #fec802;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-soft-success {
  background-color: rgba(40, 167, 69, 0.1) !important;
}

.text-success {
  color: #28a745 !important;
}

.border-success {
  color: #28a745 !important;
}

.btn-soft-success {
  background-color: rgba(40, 167, 69, 0.25) !important;
  color: #28a745 !important;
}

.btn-soft-success:hover,
.btn-soft-success:focus,
.btn-soft-success:active,
.btn-soft-success.active,
.btn-soft-success.focus,
.btn-soft-success:not(:disabled):not(.disabled):active,
.btn-soft-success:not(:disabled):not(.disabled):active:focus,
.btn-soft-success .open > .dropdown-toggle.btn-primary {
  background: #24973e;
}

.btn-success {
  background: #28a745;
  border-color: #28a745 !important;
  color: #ffffff !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success .open > .dropdown-toggle.btn-primary {
  background: #24973e;
  border-color: #24973e;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.focus,
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success .open > .dropdown-toggle.btn-primary {
  background: #28a745;
  border-color: #28a745;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-soft-info {
  background-color: rgba(23, 162, 184, 0.1) !important;
}

.text-info {
  color: #17a2b8 !important;
}

.border-info {
  color: #17a2b8 !important;
}

.btn-soft-info {
  background-color: rgba(23, 162, 184, 0.25) !important;
  color: #17a2b8 !important;
}

.btn-soft-info:hover,
.btn-soft-info:focus,
.btn-soft-info:active,
.btn-soft-info.active,
.btn-soft-info.focus,
.btn-soft-info:not(:disabled):not(.disabled):active,
.btn-soft-info:not(:disabled):not(.disabled):active:focus,
.btn-soft-info .open > .dropdown-toggle.btn-primary {
  background: #1592a6;
}

.btn-info {
  background: #17a2b8;
  border-color: #17a2b8 !important;
  color: #ffffff !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info .open > .dropdown-toggle.btn-primary {
  background: #1592a6;
  border-color: #1592a6;
}

.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.focus,
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info .open > .dropdown-toggle.btn-primary {
  background: #17a2b8;
  border-color: #17a2b8;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-soft-warning {
  background-color: rgba(255, 193, 7, 0.1) !important;
}

.text-warning {
  color: #ffc107 !important;
}

.border-warning {
  color: #ffc107 !important;
}

.btn-soft-warning {
  background-color: rgba(255, 193, 7, 0.25) !important;
  color: #ffc107 !important;
}

.btn-soft-warning:hover,
.btn-soft-warning:focus,
.btn-soft-warning:active,
.btn-soft-warning.active,
.btn-soft-warning.focus,
.btn-soft-warning:not(:disabled):not(.disabled):active,
.btn-soft-warning:not(:disabled):not(.disabled):active:focus,
.btn-soft-warning .open > .dropdown-toggle.btn-primary {
  background: #f2b500;
}

.btn-warning {
  background: #ffc107;
  border-color: #ffc107 !important;
  color: #ffffff !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning .open > .dropdown-toggle.btn-primary {
  background: #f2b500;
  border-color: #f2b500;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.focus,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning .open > .dropdown-toggle.btn-primary {
  background: #ffc107;
  border-color: #ffc107;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-soft-danger {
  background-color: rgba(220, 53, 69, 0.1) !important;
}

.text-danger {
  color: #dc3545 !important;
}

.border-danger {
  color: #dc3545 !important;
}

.btn-soft-danger {
  background-color: rgba(220, 53, 69, 0.25) !important;
  color: #dc3545 !important;
}

.btn-soft-danger:hover,
.btn-soft-danger:focus,
.btn-soft-danger:active,
.btn-soft-danger.active,
.btn-soft-danger.focus,
.btn-soft-danger:not(:disabled):not(.disabled):active,
.btn-soft-danger:not(:disabled):not(.disabled):active:focus,
.btn-soft-danger .open > .dropdown-toggle.btn-primary {
  background: #d72536;
}

.btn-danger {
  background: #dc3545;
  border-color: #dc3545 !important;
  color: #ffffff !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger .open > .dropdown-toggle.btn-primary {
  background: #d72536;
  border-color: #d72536;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger .open > .dropdown-toggle.btn-primary {
  background: #dc3545;
  border-color: #dc3545;
}

.bg-orange {
  background-color: #f09105 !important;
}

.bg-soft-orange {
  background-color: rgba(240, 145, 5, 0.1) !important;
}

.text-orange {
  color: #f09105 !important;
}

.border-orange {
  color: #f09105 !important;
}

.btn-soft-orange {
  background-color: rgba(240, 145, 5, 0.25) !important;
  color: #f09105 !important;
}

.btn-soft-orange:hover,
.btn-soft-orange:focus,
.btn-soft-orange:active,
.btn-soft-orange.active,
.btn-soft-orange.focus,
.btn-soft-orange:not(:disabled):not(.disabled):active,
.btn-soft-orange:not(:disabled):not(.disabled):active:focus,
.btn-soft-orange .open > .dropdown-toggle.btn-primary {
  background: #dc8505;
}

.btn-orange {
  background: #f09105;
  border-color: #f09105 !important;
  color: #ffffff !important;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.btn-orange.focus,
.btn-orange:not(:disabled):not(.disabled):active,
.btn-orange:not(:disabled):not(.disabled):active:focus,
.btn-orange .open > .dropdown-toggle.btn-primary {
  background: #dc8505;
  border-color: #dc8505;
}

.btn-outline-orange {
  color: #f09105;
  border-color: #f09105;
}

.btn-outline-orange:hover,
.btn-outline-orange:focus,
.btn-outline-orange:active,
.btn-outline-orange.active,
.btn-outline-orange.focus,
.btn-outline-orange:not(:disabled):not(.disabled):active,
.btn-outline-orange:not(:disabled):not(.disabled):active:focus,
.btn-outline-orange .open > .dropdown-toggle.btn-primary {
  background: #f09105;
  border-color: #f09105;
}

.bg-dark {
  background-color: #1e304d !important;
}

.bg-soft-dark {
  background-color: rgba(30, 48, 77, 0.1) !important;
}

.text-dark {
  color: #1e304d !important;
}

.border-dark {
  color: #1e304d !important;
}

.btn-soft-dark {
  background-color: rgba(30, 48, 77, 0.25) !important;
  color: #1e304d !important;
}

.btn-soft-dark:hover,
.btn-soft-dark:focus,
.btn-soft-dark:active,
.btn-soft-dark.active,
.btn-soft-dark.focus,
.btn-soft-dark:not(:disabled):not(.disabled):active,
.btn-soft-dark:not(:disabled):not(.disabled):active:focus,
.btn-soft-dark .open > .dropdown-toggle.btn-primary {
  background: #18273e;
}

.btn-dark {
  background: #1e304d;
  border-color: #1e304d !important;
  color: #ffffff !important;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark .open > .dropdown-toggle.btn-primary {
  background: #18273e;
  border-color: #18273e;
}

.btn-outline-dark {
  color: #1e304d;
  border-color: #1e304d;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.focus,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark .open > .dropdown-toggle.btn-primary {
  background: #1e304d;
  border-color: #1e304d;
}

.bg-cyan {
  background-color: #00e6e6 !important;
}

.bg-soft-cyan {
  background-color: rgba(0, 230, 230, 0.1) !important;
}

.text-cyan {
  color: #00e6e6 !important;
}

.border-cyan {
  color: #00e6e6 !important;
}

.btn-soft-cyan {
  background-color: rgba(0, 230, 230, 0.25) !important;
  color: #00e6e6 !important;
}

.btn-soft-cyan:hover,
.btn-soft-cyan:focus,
.btn-soft-cyan:active,
.btn-soft-cyan.active,
.btn-soft-cyan.focus,
.btn-soft-cyan:not(:disabled):not(.disabled):active,
.btn-soft-cyan:not(:disabled):not(.disabled):active:focus,
.btn-soft-cyan .open > .dropdown-toggle.btn-primary {
  background: #00d2d2;
}

.btn-cyan {
  background: #00e6e6;
  border-color: #00e6e6 !important;
  color: #ffffff !important;
}

.btn-cyan:hover,
.btn-cyan:focus,
.btn-cyan:active,
.btn-cyan.active,
.btn-cyan.focus,
.btn-cyan:not(:disabled):not(.disabled):active,
.btn-cyan:not(:disabled):not(.disabled):active:focus,
.btn-cyan .open > .dropdown-toggle.btn-primary {
  background: #00d2d2;
  border-color: #00d2d2;
}

.btn-outline-cyan {
  color: #00e6e6;
  border-color: #00e6e6;
}

.btn-outline-cyan:hover,
.btn-outline-cyan:focus,
.btn-outline-cyan:active,
.btn-outline-cyan.active,
.btn-outline-cyan.focus,
.btn-outline-cyan:not(:disabled):not(.disabled):active,
.btn-outline-cyan:not(:disabled):not(.disabled):active:focus,
.btn-outline-cyan .open > .dropdown-toggle.btn-primary {
  background: #00e6e6;
  border-color: #00e6e6;
}

.bg-blue {
  background-color: #002d3a !important;
}

.bg-soft-blue {
  background-color: rgba(0, 45, 58, 0.1) !important;
}

.text-blue {
  color: #002d3a !important;
}

.border-blue {
  color: #002d3a !important;
}

.btn-soft-blue {
  background-color: rgba(0, 45, 58, 0.25) !important;
  color: #002d3a !important;
}

.btn-soft-blue:hover,
.btn-soft-blue:focus,
.btn-soft-blue:active,
.btn-soft-blue.active,
.btn-soft-blue.focus,
.btn-soft-blue:not(:disabled):not(.disabled):active,
.btn-soft-blue:not(:disabled):not(.disabled):active:focus,
.btn-soft-blue .open > .dropdown-toggle.btn-primary {
  background: #001d26;
}

.btn-blue {
  background: #002d3a;
  border-color: #002d3a !important;
  color: #ffffff !important;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.focus,
.btn-blue:not(:disabled):not(.disabled):active,
.btn-blue:not(:disabled):not(.disabled):active:focus,
.btn-blue .open > .dropdown-toggle.btn-primary {
  background: #001d26;
  border-color: #001d26;
}

.btn-outline-blue {
  color: #002d3a;
  border-color: #002d3a;
}

.btn-outline-blue:hover,
.btn-outline-blue:focus,
.btn-outline-blue:active,
.btn-outline-blue.active,
.btn-outline-blue.focus,
.btn-outline-blue:not(:disabled):not(.disabled):active,
.btn-outline-blue:not(:disabled):not(.disabled):active:focus,
.btn-outline-blue .open > .dropdown-toggle.btn-primary {
  background: #002d3a;
  border-color: #002d3a;
}

.bg-muted {
  background-color: #79798b !important;
}

.bg-soft-muted {
  background-color: rgba(121, 121, 139, 0.1) !important;
}

.text-muted {
  color: #79798b !important;
}

.border-muted {
  color: #79798b !important;
}

.btn-soft-muted {
  background-color: rgba(121, 121, 139, 0.25) !important;
  color: #79798b !important;
}

.btn-soft-muted:hover,
.btn-soft-muted:focus,
.btn-soft-muted:active,
.btn-soft-muted.active,
.btn-soft-muted.focus,
.btn-soft-muted:not(:disabled):not(.disabled):active,
.btn-soft-muted:not(:disabled):not(.disabled):active:focus,
.btn-soft-muted .open > .dropdown-toggle.btn-primary {
  background: #6f6f80;
}

.btn-muted {
  background: #79798b;
  border-color: #79798b !important;
  color: #ffffff !important;
}

.btn-muted:hover,
.btn-muted:focus,
.btn-muted:active,
.btn-muted.active,
.btn-muted.focus,
.btn-muted:not(:disabled):not(.disabled):active,
.btn-muted:not(:disabled):not(.disabled):active:focus,
.btn-muted .open > .dropdown-toggle.btn-primary {
  background: #6f6f80;
  border-color: #6f6f80;
}

.btn-outline-muted {
  color: #79798b;
  border-color: #79798b;
}

.btn-outline-muted:hover,
.btn-outline-muted:focus,
.btn-outline-muted:active,
.btn-outline-muted.active,
.btn-outline-muted.focus,
.btn-outline-muted:not(:disabled):not(.disabled):active,
.btn-outline-muted:not(:disabled):not(.disabled):active:focus,
.btn-outline-muted .open > .dropdown-toggle.btn-primary {
  background: #79798b;
  border-color: #79798b;
}

.bg-purple {
  background-color: #704fff !important;
}

.bg-soft-purple {
  background-color: rgba(112, 79, 255, 0.1) !important;
}

.text-purple {
  color: #704fff !important;
}

.border-purple {
  color: #704fff !important;
}

.btn-soft-purple {
  background-color: rgba(112, 79, 255, 0.25) !important;
  color: #704fff !important;
}

.btn-soft-purple:hover,
.btn-soft-purple:focus,
.btn-soft-purple:active,
.btn-soft-purple.active,
.btn-soft-purple.focus,
.btn-soft-purple:not(:disabled):not(.disabled):active,
.btn-soft-purple:not(:disabled):not(.disabled):active:focus,
.btn-soft-purple .open > .dropdown-toggle.btn-primary {
  background: #5f3bff;
}

.btn-purple {
  background: #704fff;
  border-color: #704fff !important;
  color: #ffffff !important;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.btn-purple.focus,
.btn-purple:not(:disabled):not(.disabled):active,
.btn-purple:not(:disabled):not(.disabled):active:focus,
.btn-purple .open > .dropdown-toggle.btn-primary {
  background: #5f3bff;
  border-color: #5f3bff;
}

.btn-outline-purple {
  color: #704fff;
  border-color: #704fff;
}

.btn-outline-purple:hover,
.btn-outline-purple:focus,
.btn-outline-purple:active,
.btn-outline-purple.active,
.btn-outline-purple.focus,
.btn-outline-purple:not(:disabled):not(.disabled):active,
.btn-outline-purple:not(:disabled):not(.disabled):active:focus,
.btn-outline-purple .open > .dropdown-toggle.btn-primary {
  background: #704fff;
  border-color: #704fff;
}

.bg-pink {
  background-color: #f85f89 !important;
}

.bg-soft-pink {
  background-color: rgba(248, 95, 137, 0.1) !important;
}

.text-pink {
  color: #f85f89 !important;
}

.border-pink {
  color: #f85f89 !important;
}

.btn-soft-pink {
  background-color: rgba(248, 95, 137, 0.25) !important;
  color: #f85f89 !important;
}

.btn-soft-pink:hover,
.btn-soft-pink:focus,
.btn-soft-pink:active,
.btn-soft-pink.active,
.btn-soft-pink.focus,
.btn-soft-pink:not(:disabled):not(.disabled):active,
.btn-soft-pink:not(:disabled):not(.disabled):active:focus,
.btn-soft-pink .open > .dropdown-toggle.btn-primary {
  background: #f74b7b;
}

.btn-pink {
  background: #f85f89;
  border-color: #f85f89 !important;
  color: #ffffff !important;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.btn-pink.focus,
.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink .open > .dropdown-toggle.btn-primary {
  background: #f74b7b;
  border-color: #f74b7b;
}

.btn-outline-pink {
  color: #f85f89;
  border-color: #f85f89;
}

.btn-outline-pink:hover,
.btn-outline-pink:focus,
.btn-outline-pink:active,
.btn-outline-pink.active,
.btn-outline-pink.focus,
.btn-outline-pink:not(:disabled):not(.disabled):active,
.btn-outline-pink:not(:disabled):not(.disabled):active:focus,
.btn-outline-pink .open > .dropdown-toggle.btn-primary {
  background: #f85f89;
  border-color: #f85f89;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-soft-white {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.text-white {
  color: #ffffff !important;
}

.border-white {
  color: #ffffff !important;
}

.btn-soft-white {
  background-color: rgba(255, 255, 255, 0.25) !important;
  color: #ffffff !important;
}

.btn-soft-white:hover,
.btn-soft-white:focus,
.btn-soft-white:active,
.btn-soft-white.active,
.btn-soft-white.focus,
.btn-soft-white:not(:disabled):not(.disabled):active,
.btn-soft-white:not(:disabled):not(.disabled):active:focus,
.btn-soft-white .open > .dropdown-toggle.btn-primary {
  background: whitesmoke;
}

.btn-white {
  background: #ffffff;
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.focus,
.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white .open > .dropdown-toggle.btn-primary {
  background: whitesmoke;
  border-color: whitesmoke;
}

.btn-outline-white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white.active,
.btn-outline-white.focus,
.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled):active:focus,
.btn-outline-white .open > .dropdown-toggle.btn-primary {
  background: #ffffff;
  border-color: #ffffff;
}

.bg-light {
  background-color: #fafbfc !important;
}

.bg-soft-light {
  background-color: rgba(250, 251, 252, 0.1) !important;
}

.text-light {
  color: #fafbfc !important;
}

.border-light {
  color: #fafbfc !important;
}

.btn-soft-light {
  background-color: rgba(250, 251, 252, 0.25) !important;
  color: #fafbfc !important;
}

.btn-soft-light:hover,
.btn-soft-light:focus,
.btn-soft-light:active,
.btn-soft-light.active,
.btn-soft-light.focus,
.btn-soft-light:not(:disabled):not(.disabled):active,
.btn-soft-light:not(:disabled):not(.disabled):active:focus,
.btn-soft-light .open > .dropdown-toggle.btn-primary {
  background: #edf1f4;
}

.btn-light {
  background: #fafbfc;
  border-color: #fafbfc !important;
  color: #ffffff !important;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.focus,
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light .open > .dropdown-toggle.btn-primary {
  background: #edf1f4;
  border-color: #edf1f4;
}

.btn-outline-light {
  color: #fafbfc;
  border-color: #fafbfc;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light .open > .dropdown-toggle.btn-primary {
  background: #fafbfc;
  border-color: #fafbfc;
}

.navbar-custom {
  /* background-color: transparent; */
  background-color: white;
  padding: 25px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-nav li a {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 13px;
  text-transform: uppercase;
  background-color: transparent !important;
  margin: 0 10px;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #1e304d;
}

.navbar-custom.nav-sticky .custom-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.logo .logo-light {
  display: inline-block;
}

.logo .logo-dark {
  display: none;
}

.nav-sticky .logo .logo-dark {
  display: inline-block;
}

.nav-sticky .logo .logo-light {
  display: none;
}

.nav-button {
  margin-left: 20px;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: #ffffff !important;
}

/*---Navbar-White--*/
.navbar-custom.navbar-white .navbar-nav li a,
.navbar-custom.navbar-white .navbar-brand,
.navbar-white .navbar-toggle {
  color: #1e304d !important;
}

.navbar-custom.navbar-white .navbar-nav li.active a,
.navbar-custom.navbar-white .navbar-nav li a:hover,
.navbar-custom.navbar-white .navbar-nav li a:focus,
.navbar-custom.navbar-white .navbar-nav li a:active {
  color: #fec802 !important;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 20px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(38, 107, 193, 0.08);
  box-shadow: 0px 3px 10px 0px rgba(38, 107, 193, 0.08);
}

.nav-sticky.navbar-custom.sticky-dark {
  background-color: #ffffff;
}

.nav-sticky .logo {
  color: #1e304d !important;
}

.nav-sticky .navbar-nav li a {
  color: #1e304d !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:focus,
.nav-sticky.navbar-custom .navbar-nav li a:active {
  color: #fec802 !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: 0.25rem 0.75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky .navbar-nav {
  margin-top: 0px;
}

.bg-home {
  background-image: url("../images/img-1.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 280px 0px 290px 0px;
}

.home-button {
  padding: 0.9rem 1.7rem;
  font-size: 15px;
}

.home-title {
  font-size: 52px;
}

.home-modal {
  border: 0;
  background-color: transparent;
}

.home-modal .btn-close {
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: relative;
  top: 70px;
  z-index: 3;
}

.home-modal .btn-close:hover,
.home-modal .btn-close:focus {
  opacity: 0.5;
}

.home-modal video:focus {
  outline: none;
}

.video-box {
  width: 100%;
}

.text-wrapper {
  overflow: hidden;
}

.letter {
  display: inline-block;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.demo:before {
  color: #d8d8d8;
  content: "";
  display: block;
  font-size: 14px;
  left: 12px;
  position: absolute;
  top: 12px;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.demo.is-animated:before {
  opacity: 0;
}

[data-animate="panel"] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  position: relative;
}

[data-animate="panel"]::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.3);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  visibility: visible;
  width: 100%;
}

.is-animated [data-animate="panel"] {
  -webkit-animation: animateContent 0.6s cubic-bezier(0.645, 0.045, 0.355, 1)
    both;
  animation: animateContent 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.is-animated [data-animate="panel"]::after {
  -webkit-animation: animatePanel 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  animation: animatePanel 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

@-webkit-keyframes animateContent {
  0% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  to {
    visibility: visible;
  }
}

@keyframes animateContent {
  0% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  to {
    visibility: visible;
  }
}

@-webkit-keyframes animatePanel {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  49% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

@keyframes animatePanel {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  49% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.bg-home-2 {
  padding: 250px 0px 220px 0px;
  background-image: url("/images/bg-1.png");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.bg-home-2 .home-desc {
  max-width: 700px;
  margin: 0 auto;
}
.bg-home-2 .home-desc ul {
  display: flex;
  flex-wrap: wrap;
}
.bg-home-2 .home-desc ul li {
  display: flex;
  list-style: none;
  margin: 0 0.3rem;
  border: 2px solid white;
  border-radius: 0.4rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background: #fec802 !important;
}

.bg-home-2 .home-desc ul li:hover {
  background: #f9f9f9 !important;
}

.bg-home-2 .home-desc ul li a {
  color: #6c757d !important;
}

.video-icon-btn {
  width: 60px;
  height: 60px;
  display: inline-block;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
}

.video-icon-btn i {
  line-height: 60px;
  font-size: 30px;
  color: #fec802;
}

.bg-home-3 {
  background-image: url("../images/img-4.jpg");
  padding: 280px 0px 260px 0px;
  position: relative;
  background-position: center;
}

.bg-home-3 .home-desc {
  max-width: 700px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.9);
}

.bg-home-3 .home-border {
  width: 50px;
  height: 1px;
  background: #ffffff;
  margin: 0 auto;
}

.services-box {
  padding: 25px 20px;
}

.services-box .services-icon {
  width: 70px;
  height: 70px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: #fec802;
}

.services-box .services-icon i {
  font-size: 35px;
  color: #ffffff;
  line-height: 70px;
}

.services-box:hover .services-icon {
  background-color: rgba(18, 168, 148, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-box:hover .services-icon i {
  color: #fec802;
}

.services-box:hover .services-icon:before {
  left: 0px;
  top: 0px;
}

.features-count h5 {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background-color: rgba(18, 168, 148, 0.1);
  border-radius: 50%;
  line-height: 40px;
}

.features-icon i {
  font-size: 40px;
}

.bg-counter {
  background-image: url(../images/img-2.jpg);
  background-position: center;
}

.bg-cta {
  background-image: url(../images/img-3.jpg);
  background-position: center;
}

.client-item {
  padding: 0px 80px;
}

@media (max-width: 1024px) {
  .client-item {
    padding: 80px;
  }
}

@media (max-width: 768px) {
  .client-item {
    padding: 0px;
  }
  .input-container input {
    width: 90vw;
  }
  .react-autosuggest__suggestions-container--open {
    width: 90vw !important;
  }
  .bg-home-2 .home-desc ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .bg-home-2 .home-desc ul li {
    width: fit-content;
  }
}

.testi-box {
  border: 1px solid #efefef;
  padding: 30px 40px;
  position: relative;
  margin-left: -100px;
  z-index: 1;
  background: #ffffff;
  top: 70px;
}

@media (max-width: 1000px) {
  .testi-box {
    margin-left: 50px;
    top: -100px;
  }
}

@media (max-width: 767px) {
  .testi-box {
    margin-left: 0px;
    top: -100px;
  }
}

.testi-img img {
  border-radius: 15px;
}

.testi-title {
  font-size: 18px;
  line-height: 1.6;
}

.testi-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 0;
}

@media (max-width: 1000px) {
  .testi-icon {
    right: auto;
    left: 30;
  }
}

.testi-icon i {
  line-height: 50px;
  font-size: 30px;
}

.tns-outer {
  position: relative;
}

.tns-outer .tns-controls {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 1;
}

.tns-outer .tns-controls button {
  margin: 0 0 0px 5px;
  border-radius: 50%;
  border: none;
  background-color: rgba(18, 168, 148, 0.2) !important;
  color: #fec802;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
}

.tns-outer .tns-controls button:focus,
.tns-outer .tns-controls button:hover,
.tns-outer .tns-controls button:active {
  outline: none;
  background-color: #fec802 !important;
  color: #ffffff;
}

.tns-outer .tns-controls button.active button {
  background-color: #119f8c !important;
}

.tns-outer .tns-controls:focus {
  outline: none !important;
}

.tns-outer .tns-nav {
  text-align: center;
  margin-top: 16px;
}

.tns-outer .tns-nav button {
  width: 10px !important;
  height: 10px !important;
  border: none;
  background-color: rgba(18, 168, 148, 0.2) !important;
  padding: 0px;
  margin: 0px 6px;
  border-radius: 50%;
}

.tns-outer .tns-nav button:focus,
.tns-outer .tns-nav button:hover,
.tns-outer .tns-nav button:active,
.tns-outer .tns-nav button.active {
  outline: none;
  background-color: #fec802 !important;
}

.tns-outer .tns-nav button.tns-nav-active {
  background-color: #fec802 !important;
}

.client-images img {
  height: 40px;
  opacity: 0.3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.client-images img:hover {
  opacity: 0.5;
}

.pricing-box {
  border: 1px solid #efefef;
  position: relative;
}

.pricing-box .pricing-plan {
  padding: 20px 0px;
}

.pricing-box .pricing-price {
  padding: 30px 0px;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

.pricing-box .pricing-features {
  padding: 40px 0px;
}

.pricing-box .pricing-lable {
  position: absolute;
  display: block;
  top: 0;
  right: 0px;
}

.pricing-box .lable-name {
  position: relative;
  background-color: #fec802;
  color: #ffffff;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  width: 90px;
  -webkit-transform: rotate(-90deg) translateX(-27%);
  transform: rotate(-90deg) translateX(-27%);
}

.pricing-box .lable-name:after {
  content: "";
  border-top: 20px solid #fec802;
  border-bottom: 20px solid #fec802;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  position: absolute;
  left: -11px;
  top: 0;
}

.custom-form .alert {
  padding: 11px;
  font-size: 15px;
}

textarea.form-control {
  height: auto !important;
}

.form-control {
  margin-bottom: 15px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 48px;
  padding-left: 20px;
  border: 1px solid #d7dbdf;
  font-size: 14px;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #adb5bd;
}

textarea.form-control {
  height: auto;
  padding-top: 13.5px;
}

#contact a {
  color: #6c757d;
}
#contact a:hover {
  color: #fec802;
}
#contact .submit-button {
  background: #fec802 !important;
  color: #6c757d !important;
}

.contact-social a {
  font-size: 20px;
  color: #1e304d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-social a:hover {
  color: #fec802;
}

.contact-social a i {
  margin-right: 10px;
}

.bg-footer {
  border-top: 1px solid #efefef;
  padding: 25px 0px 25px 0px;
}
.bg-footer a:hover {
  color: #fec802 !important;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    color: #ffffff !important;
    background: #ffffff;
  }
  .navbar-custom .navbar-nav {
    margin-left: 0px;
  }
  .navbar-custom .navbar-nav li.active {
    border-color: transparent;
  }
  .navbar-custom .navbar-nav li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    margin: 6px;
    color: #1e304d !important;
    padding: 6px 0;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .home-title {
    font-size: 36px;
  }
  .navbar-white .navbar-toggler {
    color: #1e304d !important;
  }
  .navbar-custom .navbar-nav li.active a,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li a:active {
    color: #fec802 !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .carousel-indicators {
    right: 0;
  }
  .logo .logo-light {
    display: none;
  }
  .logo .logo-dark {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

/* Search input */

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 50vw;
  height: 3rem;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;

  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  /* top: 51px; */
  width: 50vw;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  border: none;
  box-shadow: 0 2px 5px 0 #dfdfdf, 0 8px 40px 0 rgb(10 14 29 / 6%);
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.input-container i {
  position: absolute;
  left: 1rem;
  top: 0.4rem;
  -webkit-text-stroke: 1px white;
  font-size: 1.6rem;
  color: #dfe1e5;
}
.input-container input {
  padding-left: 3rem;
}
.suggestion {
  color: black !important;
}
.search-input {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 675px) {
  .input-container input {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 390px) {
  .input-container input {
    font-size: 1em;
  }
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
.error-message {
  font-size: 0.9em;
  margin-top: 0.2rem;
  /* margin-top: -0.8rem; */
}
