.restaurant {
  display: flex;
  justify-content: center;
}

.menu-icon {
  position: fixed;
  left: 10%;
  top: 8%;
  z-index: 4;
  box-shadow: 0 2px 5px 0 #dfdfdf, 0 8px 40px 0 rgb(10 14 29 / 6%);
  padding: 0.7rem;
  padding-top: 0.5rem;
  border-radius: 0.5rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  background: white;
}

.menu-icon i {
  font-size: 1.5em;
}

.details-container {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  z-index: 2;
  margin-top: 4rem;
}

.details {
  text-align: center;
  width: 60vw;
}

.details-card-container {
  display: flex;
  justify-content: center;
}

.details-card-container a {
  color: #525f7f;
  text-decoration: none !important;
}

.details-card {
  padding: 2rem;
  padding-right: 5rem;
  padding-left: 5rem;
  border-radius: 0.5rem;
  background: white;
  z-index: 2;
  box-shadow: 0 2px 5px 0 #dfdfdf, 0 8px 40px 0 rgb(10 14 29 / 6%);
}

.details-card .row {
  align-items: center;
}

.details-card .item {
  align-items: center;
}

.details-card .label {
  font-size: 0.8em;
  margin-right: 0.5rem;
  color: #959595;
}

.details-card .icons {
  margin-top: 1rem;
}

.details-card .icons i {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2em;
}

.details-card .payment-section .text {
  border: 1px solid #d9d9d9;
  font-size: 0.6em;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-radius: 0.3rem;
  text-align: center;
  align-content: center;
  margin-right: 0.5rem;
}

.landing {
  background: #f3f4f5;
  height: 45vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.landing svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 45vh;
  left: 0;
}

.card-container {
  margin-top: 40rem;
}

.card-container section {
  padding-top: 3rem;
}

.image-container {
  padding: 0;
}
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
}

.card-image {
  width: 100%;
  height: 7rem;
  border-radius: 0.9rem;
  object-fit: cover;
}

.price-card-container {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 1rem;
}

.price-card {
  display: flex;
  padding: 0.2rem 0.5rem;
  border: 1px solid #cbcbcb;
  width: fit-content;
  border-radius: 0.3rem;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.price-card-section1 {
  border-right: 1px solid #cbcbcb;
  padding-right: 0.5rem;
  font-size: 0.8em;
  color: #858383;
  text-wrap: nowrap;
}

.price-card-section2 {
  padding-left: 0.5rem;
}

.price-card-section2 span {
  font-size: 0.8em;
  margin-right: 0.1rem;
  color: #949292;
}

.card {
  position: relative;
  min-width: 30vw;
  display: flex;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 1rem;
  border: none !important;
  border-radius: 0.4rem !important;
  box-shadow: 0 1px 1px 0 #dfdfdf, 0 1px 10px 0 rgb(10 14 29 / 6%);
  max-width: 40rem;
  /* max-height: 10rem; */
}

.add-icon-container {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.add-icon-container i {
  font-size: 2em;
  -webkit-text-stroke: 3px white;
}

.card:hover {
  box-shadow: rgb(28 28 28 / 12%) 0px 0.4rem 1.8rem;
  border-radius: 1.1rem;
}

.card-title {
  font-size: 1em;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1em;
}

.card-right {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal {
  /* margin-top: 20vh; */
  /* width: 40rem; */
}
.modal-content {
  border: none !important;
  box-shadow: rgb(28 28 28 / 12%) 0px 0.4rem 1.8rem;
}

.modal-icon-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  box-shadow: rgb(28 28 28 / 12%) 0px 0.4rem 1.8rem;
  background: white;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 10;
  padding-top: 0.15rem;
}

.modal-icon-container:hover {
  box-shadow: 0 2px 5px 0 #dfdfdf, 0 8px 40px 0 rgb(10 14 29 / 6%);
}

.modal-icon-container i {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0.55rem;
  margin-left: 0.5rem;
}

.modal-image {
  width: 100%;
  height: auto;
  max-height: 29rem;
  object-fit: cover;
  border-top-left-radius: 0.4375rem;
  border-top-right-radius: 0.4375rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-body {
  padding: 0 !important;
}

.modal-body-details {
  padding: 1rem;
}

.modal-body-details .title {
  /* margin: 1rem; */
}
.modal-body-details .description {
  margin-bottom: 0;
  margin-top: 1rem;
}
.menu-modal {
  left: 0;
  right: auto;
  width: 50%;
}

.menu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.menu-link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #525f7f;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container img {
  max-width: 10rem;
  margin-top: 1rem;
}

.menu-link:hover {
  background: #e4e4e4;
  color: #525f7f;
}

.order-now {
  display: block;
  margin-top: 1rem;
  width: 100%;
  box-shadow: rgb(28 28 28 / 7%) 0px 0.001rem 0.8rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  color: #ffc801;
}

.order-now:hover {
  background: rgb(243, 243, 243);
  cursor: pointer;
  color: #ffc801;
}

.order-now i {
  margin-right: 0.5rem;
  transform: rotate(-20deg);
}

@media only screen and (max-width: 675px) {
  .card {
    min-width: 90vw;
  }

  .card-image {
    height: 6rem;
  }

  .card-container {
    margin: 1rem;
    font-size: 0.9em;
    margin-top: 40rem;
  }

  .details-card {
    position: relative;
    right: auto;
    top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0 1rem;
    margin-top: -5rem;
  }

  .landing {
    height: 55vh;
  }

  .landing svg {
    top: 55vh;
  }

  .menu-modal {
    left: 0;
    right: auto;
    width: 70%;
  }

  .logo-container img {
    max-width: 8rem;
    margin-top: 1.2rem;
  }
  .menu-icon {
    position: fixed;
    left: inherit;
    top: inherit;
    right: 10%;
    bottom: 8%;
    z-index: 4;
    box-shadow: 0 2px 5px 0 #dfdfdf, 0 8px 40px 0 rgb(10 14 29 / 6%);
    padding: 0.7rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
    background: white;
  }
  .modal {
    position: fixed;
    bottom: 3rem !important;
    z-index: 1055;
    display: none;
    width: 100%;
    height: inherit !important;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    top: auto !important;
  }
  .modal-icon-container {
    top: inherit !important;
    bottom: 1rem !important;
  }
  .order-now {
    width: 85%;
  }
}

@media only screen and (max-width: 575px) {
  .modal {
    width: 90vw;
  }
}

@media only screen and (max-width: 480px) {
  .card-container {
    margin: 2rem;
    margin-top: 40rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container img {
    max-width: 6rem;
    margin-top: 1.4rem;
  }

  .card-container {
    font-size: 0.7em;
    margin-top: 40rem;
  }

  .price-card {
    padding: 0.1rem 0.3rem;
  }
  .card-description {
    font-size: 1.1em !important;
  }
}

@media (max-width: 768px) {
  .details-card .item {
    align-items: baseline !important;
  }
}
.logo-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.card-description {
  font-size: 0.9em;
}
.ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.ingredients .ingredient {
  width: fit-content;
  text-wrap: nowrap;
  margin-right: 0.3rem;
  /* border: 1px solid #ededed; */
  padding: 0.4rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
  border-radius: 2rem;
  margin-bottom: 0.3rem;
  font-size: 0.7em;
  background: #f3f3f3;
}
